@font-face {
  font-family: 'Oneer';
  src: url('fonts/Oneer.eot');
  /* IE9 Compat Modes */
  src: url('fonts/Oneer.eot?#iefix') format('embedded-opentype'), url('fonts/Oneer.woff2') format('woff2'), url('fonts/Oneer.woff') format('woff'), url('fonts/Oneer.ttf') format('truetype'), url('fonts/Oneer.svg#svgFontName') format('svg');
  /* Legacy iOS */ }

/* line 29, /Users/lawrencehumphrey/Dev/frank-leone/css/main.scss */
html, body {
  background-color: #000;
  max-width: 100%;
  overflow-x: hidden;
  font-family: Oneer; }

/* line 43, /Users/lawrencehumphrey/Dev/frank-leone/css/main.scss */
h1, h2, h3, h4, h5, h6, p, a {
  font-family: Oneer; }

/* line 47, /Users/lawrencehumphrey/Dev/frank-leone/css/main.scss */
ul {
  list-style: none; }

/* line 51, /Users/lawrencehumphrey/Dev/frank-leone/css/main.scss */
.invis {
  display: none; }

/* line 55, /Users/lawrencehumphrey/Dev/frank-leone/css/main.scss */
.vis {
  display: block; }

/* line 59, /Users/lawrencehumphrey/Dev/frank-leone/css/main.scss */
a {
  color: #fff;
  text-decoration: none; }

/* line 64, /Users/lawrencehumphrey/Dev/frank-leone/css/main.scss */
section {
  position: relative;
  height: 105vh;
  min-height: 750px; }
  /* line 69, /Users/lawrencehumphrey/Dev/frank-leone/css/main.scss */
  section img {
    display: block;
    margin-left: auto;
    margin-right: auto; }

/* line 77, /Users/lawrencehumphrey/Dev/frank-leone/css/main.scss */
.one .header {
  display: none;
  position: relative;
  top: 30px;
  left: 0px;
  width: 100%;
  height: auto;
  text-align: center;
  font-size: 9.2em;
  color: #fff; }
  /* line 91, /Users/lawrencehumphrey/Dev/frank-leone/css/main.scss */
  .one .header h1 {
    margin: 0; }
/* line 96, /Users/lawrencehumphrey/Dev/frank-leone/css/main.scss */
.one .links {
  display: none;
  position: relative;
  top: 5.5%; }
  /* line 102, /Users/lawrencehumphrey/Dev/frank-leone/css/main.scss */
  .one .links ul {
    text-align: center; }
  /* line 106, /Users/lawrencehumphrey/Dev/frank-leone/css/main.scss */
  .one .links a {
    font-size: 5em; }
/* line 111, /Users/lawrencehumphrey/Dev/frank-leone/css/main.scss */
.one .enterwild {
  display: none;
  position: absolute;
  width: 100%;
  position: absolute;
  top: 85%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
  /* line 119, /Users/lawrencehumphrey/Dev/frank-leone/css/main.scss */
  .one .enterwild:before, .one .enterwild:after {
    content: '! ! !';
    position: absolute;
    top: 0;
    right: calc(50% + 200px);
    color: #fff;
    font-size: 160px;
    width: 180px;
    height: 160px; }
  /* line 133, /Users/lawrencehumphrey/Dev/frank-leone/css/main.scss */
  .one .enterwild:after {
    left: calc(50% + 200px);
    right: auto; }

/* line 141, /Users/lawrencehumphrey/Dev/frank-leone/css/main.scss */
.two .social-media {
  position: absolute;
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center; }
  /* line 148, /Users/lawrencehumphrey/Dev/frank-leone/css/main.scss */
  .two .social-media a {
    font-size: 12em;
    line-height: 118px;
    height: 120px; }
/* line 155, /Users/lawrencehumphrey/Dev/frank-leone/css/main.scss */
.two .decorative-stuff {
  position: absolute;
  top: 90%;
  width: 100%; }
  /* line 160, /Users/lawrencehumphrey/Dev/frank-leone/css/main.scss */
  .two .decorative-stuff #tellem {
    float: left;
    padding-left: 20px; }
  /* line 165, /Users/lawrencehumphrey/Dev/frank-leone/css/main.scss */
  .two .decorative-stuff #howl {
    float: right;
    padding-right: 20px; }
    /* line 169, /Users/lawrencehumphrey/Dev/frank-leone/css/main.scss */
    .two .decorative-stuff #howl:hover {
      cursor: pointer; }

/* line 177, /Users/lawrencehumphrey/Dev/frank-leone/css/main.scss */
.three img {
  width: 100vw;
  height: 105vh;
  min-height: 750px; }

/* line 184, /Users/lawrencehumphrey/Dev/frank-leone/css/main.scss */
.four {
  color: #fff;
  text-align: center; }
  /* line 188, /Users/lawrencehumphrey/Dev/frank-leone/css/main.scss */
  .four div {
    position: absolute;
    top: 55%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    /* line 191, /Users/lawrencehumphrey/Dev/frank-leone/css/main.scss */
    .four div h3 {
      font-size: 7em; }
    /* line 195, /Users/lawrencehumphrey/Dev/frank-leone/css/main.scss */
    .four div h3:nth-child(2) {
      margin-top: 20%; }

/* line 202, /Users/lawrencehumphrey/Dev/frank-leone/css/main.scss */
.dope {
  width: 100vw;
  height: 100vh;
  background: url(../img/TRANSMENTAL%20AND%20KING%20SUPERTRAMP%20WALLPAPER.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff; }
  /* line 214, /Users/lawrencehumphrey/Dev/frank-leone/css/main.scss */
  .dope .coming-soon {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 5em; }

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  /* line 224, /Users/lawrencehumphrey/Dev/frank-leone/css/main.scss */
  .one .header {
    font-size: 7.9em; }
 }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  /* line 233, /Users/lawrencehumphrey/Dev/frank-leone/css/main.scss */
  .one .header {
    top: 12px;
    font-size: 7.8em;
    line-height: 180px; }
  /* line 239, /Users/lawrencehumphrey/Dev/frank-leone/css/main.scss */
  .one .links {
    top: 2.5%; }

  /* line 246, /Users/lawrencehumphrey/Dev/frank-leone/css/main.scss */
  .four div h3 {
    font-size: 5.8em; }
 }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /* line 256, /Users/lawrencehumphrey/Dev/frank-leone/css/main.scss */
  .one .header {
    top: 12px;
    font-size: 6.7em;
    line-height: 180px; }
  /* line 262, /Users/lawrencehumphrey/Dev/frank-leone/css/main.scss */
  .one .links {
    top: 2.5%; }
  /* line 268, /Users/lawrencehumphrey/Dev/frank-leone/css/main.scss */
  .one .enterwild:before, .one .enterwild:after {
    content: none; }

  /* line 276, /Users/lawrencehumphrey/Dev/frank-leone/css/main.scss */
  .two .decorative-stuff #tellem {
    width: 65%; }

  /* line 284, /Users/lawrencehumphrey/Dev/frank-leone/css/main.scss */
  .four div h3 {
    font-size: 4.2em; }
 }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /* line 294, /Users/lawrencehumphrey/Dev/frank-leone/css/main.scss */
  .one .header {
    top: 12px;
    font-size: 5.5em; }
  /* line 299, /Users/lawrencehumphrey/Dev/frank-leone/css/main.scss */
  .one .links {
    top: 2.5%; }

  /* line 306, /Users/lawrencehumphrey/Dev/frank-leone/css/main.scss */
  .two .decorative-stuff #tellem {
    width: 55%; }
 }

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /* line 316, /Users/lawrencehumphrey/Dev/frank-leone/css/main.scss */
  .one .header {
    font-size: 3em; }
  /* line 320, /Users/lawrencehumphrey/Dev/frank-leone/css/main.scss */
  .one .links {
    top: 2.5%; }

  /* line 327, /Users/lawrencehumphrey/Dev/frank-leone/css/main.scss */
  .four div h3 {
    font-size: 1.8em; }
 }

/*# sourceMappingURL=main.css.map */