@mixin flex-center() {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column nowrap;
    flex-flow: column nowrap;
}

@mixin disable-horizontal-scrolling() {
    max-width: 100%;
    overflow-x: hidden;
}

@font-face {
  font-family: 'Oneer';
  src: url('fonts/Oneer/Oneer.eot'); /* IE9 Compat Modes */
  src: url('fonts/Oneer/Oneer.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/Oneer/Oneer.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/Oneer/Oneer.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Orator-Std';
  src: url('fonts/Orator-Std/Orator-Std.eot'); /* IE9 Compat Modes */
  src: url('fonts/Orator-Std/Orator-Std.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/Orator-Std/Orator-Std.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/Orator-Std/Orator-Std.svg#svgFontName') format('svg'); /* Legacy iOS */
}

html, 
body {
    background-color: #000;
    @include disable-horizontal-scrolling();
    font-family: Oneer;
}

html { font-size: 62.5%; }
body { font-size: 1.6rem; line-height: 2.56rem; text-rendering: optimizeLegibility; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    color: #fff;
    font-family: Oneer, san-serif;
    margin: 0;
}

h1 {
    font-size: 20.5rem;
    letter-spacing: 1rem;
    line-height: 14rem;
    margin: 0 auto;
    max-width: 1400px;
    width: 90%;
}

h2 { 
    font-size: 11rem;
    line-height: 10rem;
}

h3 {
    font-size: 8rem;
    line-height: 4.8rem;
}

h4 { 
    font-size: 6rem; 
    line-height: 5.4rem;
    text-transform: uppercase;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    color: #fff;
    display: inline-block;
    text-decoration: none;
}

section {
    height: 105vh;
    text-align: center;
    width: 100vw;
}

/* Start section one logic */
.one {
    height: 100vh;
    min-height: 750px;
}

.header {
    margin-top: 9vh;
}

.line-break { display: none; }

.links { margin-top: 5vh; }

.enterwild {
    margin-top: 5vh;
    width: 100%;

    div {
        &:before,
        &:after {
            color: #fff;
            content: '! ! !';            
            font-size: 16rem;
            height: 16rem;
            left: 0;
            position: relative;
            top: -3.5rem;
            width: 17rem;
        }
    }
}

@media only screen and (max-width: 1000px) {
    .enterwild { margin-top: 1.5vh; }
}

@media only screen and (max-width: 896px) {
    .header { margin-top: 3vh; }
    .enterwild { margin-top: 1.5vh; }
}

@media only screen and (max-width: 700px) {
    .enterwild {
        div {
            &:before,
            &:after {
                // content: none;
                font-size: 12rem;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    h1 { line-height: 12rem; }
}

@media only screen and (max-width: 500px) {
    .enterwild {
        div {
            &:before,
            &:after {
                content: none;
            }
        }
    }
}

@media only screen and (max-width: 480px) {
    h1 { line-height: 10rem; }
    h4 { font-size: 7rem; }
    .header { margin-top: 4.8vh; }

    .enterwild {
        height: auto;
        margin: 0 auto;
        margin-top: 7vh;
        width: 80%;
    }
}

@media only screen and (max-width: 320px) {
    h1 {
        font-size: 22rem; 
        line-height: 14rem;
    }
}

@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 480px) {
    h1 {
        font-size: 22rem; 
        line-height: 14rem;
    }

    .enterwild { margin-top: 1.8vh; }
}

/* END section one logic */

/** START section two logic **/
.two {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-justify-content: center;
    justify-content: center;
    position: relative;
}

.social-media {
    text-align: center;
}

.decorative-stuff {
    bottom: 0;
    position: absolute;
    width: 100%;
}

.howl {
    float: right;
    margin-right: 2rem;

    &:hover {
        cursor: pointer;
    }
}

/** END section two logic **/

/*** START section three logic ***/

.three {
    height: auto;

    .grid { margin: 5rem auto; }

    .grid-item {
        margin-bottom: 10px;
        height: 300px;
    }

    .grid-item--height2 {
        height: 450px;
    }

    .grid-item--height3 {
        height: 600px;
    }

    .grid-item,
    .grid-sizer {
        width: 24%;
    }

    img {
        height: 300px;
        width: 300px;
    }

    .tall { height: 450px; }

    .taller { height: 600px; }

    .sc { position: relative; }

    iframe { postion: absolute; top: 0; left: 0; z-index: 2; }

    @media only screen and (max-width: 1365px) {
        .grid-item,
        .grid-sizer {
            width: 32%;
        }
    }

    @media only screen and (max-width: 950px) {
        .grid-item,
        .grid-sizer {
            width: 48%;
        }
    }

    @media only screen and (max-width: 700px) {
        .grid-item,
        .grid-sizer {
            width: 96%;
        }
    }
}

@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 480px) {

    .three {
        display: none;
    }
}

/*** END section three logic ***/

/**** START section four logic ****/

.four {
    color: #fff;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-justify-content: center;
    justify-content: center;
    text-align: center;
    
    div {
        > * {
            margin: 0 auto;
            max-width: 95%;
        }
        
        h4 {
            margin-top: 10%;    
        }
    }
}

/**** END section four logic ****/

@media only screen and (max-width: 1200px) {
    html { font-size: 60%; }
}

@media only screen and (max-width: 992px) {
    html { font-size: 56.5%; }
}

@media only screen and (max-width: 768px) {
    html { font-size: 52.5%; }
}

@media only screen and (max-width: 600px) {
    html { font-size: 47.5%; }
}

@media only screen and (max-width: 480px) {
    html { font-size: 38.5%; }
}

@media only screen and (max-width: 320px) {
    html { font-size: 35.5%; }
}

@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 480px) {
    html { font-size: 32.5%; }    
}

// Clothes.html
.dope {
    width: 100vw;
    height: 100vh;
    
    background: url(../img/TRANSMENTAL%20AND%20KING%20SUPERTRAMP%20WALLPAPER.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    color: #fff;

    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-justify-content: center;
    justify-content: center;
    
    .coming-soon {
        font-family: Orator-Std, san-serif;
        font-size: 3rem;
        text-align: center;
    }
}