@import "partials/vars";
@import "partials/mixins";
@import "partials/base";
@import "partials/body";
@import "partials/grid";
@import "partials/films";

// Clothes.html
.dope {
    width: 100vw;
    height: 100vh;

    background: url(../img/TRANSMENTAL%20AND%20KING%20SUPERTRAMP%20WALLPAPER.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    color: #fff;

    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-justify-content: center;
    justify-content: center;

    .coming-soon {
        font-family: Orator-Std, san-serif;
        font-size: 3rem;
        text-align: center;
    }
}
